$primary-color: #472974;
$primary-hover-color: #472877;
$primary-active-color: #261540;
$primary-label-color: #C69EFFFF;
$primary-opacity: #472974BF;

$white-color: #ffffff;
$active-text-color: #dadada;
